{% extends 'home/base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}
{% if request.user.is_authenticated %}
  {% if user in hospital %}
    {% block hospital %}
      <li><a class="nav-link active" aria-current="page" href="{% url 'user:add_training_view' %}">Add Training</a></li>
    {% endblock %}
  {% endif %}
{% endif %}

{% block body %}
{% if massage %}
<div class="alert alert-danger" role="alert">
    {{massage}}
  </div>
  
{% endif %}
<div id="myCarousel" class="carousel slide mb-5 pointer-event " data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.snapcomms.com/hs-fs/hubfs/blog-images/healthcare-technology.jpg?width=1600&height=830&name=healthcare-technology.jpg" width="100%" height="100%" alt="">
        <div class="container ">
        <div class="carousel-caption text-start text-white">
          <h1>E-Elective</h1>
          <p>This is your guide for a better and good chances for your elective</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container marketing ">

  <!-- Three columns of text below the carousel -->
  <div class="row d-flex justify-content-center text-center">
    <h2 class="mb-4"> Students advantages </h2>
    <div class="col-lg-4 ">
      <img src="https://www.shutterstock.com/image-vector/hands-holding-smartphone-video-call-260nw-1831803718.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">

      <h2 class="fw-normal">Easy and simple</h2>
      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://img.freepik.com/premium-vector/banking-service-online-get-credit-fast-easy-get-loan-via-smart-phone-application-flat-vector-modern-illustration_566886-10642.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Provision of comprehensive information</h2>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://img.freepik.com/premium-vector/online-business-communication-remote-work-process-concept-boss-manager-giving-tasks-feedback-about-project-employee-distant-workflow-flat-vector-illustration-isolated-white-background_198278-19891.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Fast and direct communication</h2>
      
    </div><!-- /.col-lg-4 -->
    <p><a class="btn btn-secondary" href="">Join Us »</a></p>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <!-- Three columns of text below the carousel -->
  <div class="row d-flex justify-content-center text-center">
    <h2 class="mb-4"> Hospital advantages </h2>
    <div class="col-lg-4">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/014/276/860/small_2x/search-for-right-direction-business-opportunity-or-success-way-make-decision-or-career-path-vision-to-see-future-concept-flat-modern-illustration-vector.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Developing opportunities</h2>
      
      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://unblast.com/wp-content/uploads/2020/03/Marketing-Campaign-Vector-Illustration-1.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Way of advertisement</h2>
      
      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://media.istockphoto.com/id/1342829273/vector/medical-tutor-with-students-semi-flat-color-vector-characters.jpg?s=612x612&w=0&k=20&c=nODTwfVSXOIszrnfp1L06mkulVgMrLWZSd6xNrdu2OA=" class="bd-placeholder-img rounded-circle" width="140" height="140">
      <h2 class="fw-normal">Improving training quality</h2>
      
      
    </div><!-- /.col-lg-4 -->
    <p><a class="btn btn-secondary" href="">Register now »</a></p>
  </div><!-- /.row -->




</div>

{% endblock %}